/*----------Indice-------------
    #partials
    #modules

  Importar-las-hojas-scss
*/
@import url(https://fonts.googleapis.com/css?family=Raleway);
@import url(https://fonts.googleapis.com/css?family=Lato);
@import url(https://fonts.googleapis.com/css?family=Griffy);
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section,
summary {
  display: block; }

audio,
canvas,
video {
  display: inline-block; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden], template {
  display: none; }

html {
  background: #fff;
  color: #000;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

html,
button,
input,
select,
textarea {
  font-family: sans-serif; }

body {
  margin: 0; }

a {
  background: transparent; }
  a:focus {
    outline: thin dotted; }
  a:hover, a:active {
    outline: 0; }

h1 {
  font-size: 2em;
  margin: 0.67em 0; }

h2 {
  font-size: 1.5em;
  margin: 0.83em 0; }

h3 {
  font-size: 1.17em;
  margin: 1em 0; }

h4 {
  font-size: 1em;
  margin: 1.33em 0; }

h5 {
  font-size: 0.83em;
  margin: 1.67em 0; }

h6 {
  font-size: 0.75em;
  margin: 2.33em 0; }

abbr[title] {
  border-bottom: 1px dotted; }

b,
strong {
  font-weight: bold; }

dfn {
  font-style: italic; }

mark {
  background: #ff0;
  color: #000; }

code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  font-size: 1em; }

pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word; }

q {
  quotes: "\201C" "\201D" "\2018" "\2019"; }

q:before, q:after {
  content: '';
  content: none; }

small {
  font-size: 80%; }

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

figure {
  margin: 0; }

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

legend {
  border: 0;
  padding: 0;
  white-space: normal; }

button,
input,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
  vertical-align: baseline; }

button, input {
  line-height: normal; }

button,
select {
  text-transform: none; }

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled],
input[disabled] {
  cursor: default; }

button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

textarea {
  overflow: auto;
  vertical-align: top; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }
  input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none; }

input[type="checkbox"], input[type="radio"] {
  box-sizing: border-box;
  padding: 0; }

html {
  box-sizing: border-box;
  font-size: 62.5%;
  font-family: Arial, Verdana, sans-serif; }

.container {
  max-width: 1090px;
  padding-top: 73px; }

*, *:before, *:after {
  box-sizing: inherit; }

body {
  padding: 0;
  margin: 0; }

.main-content, .below-content {
  max-width: 798px;
  margin: 0 auto; }
  @media (min-width: 319px) {
    .main-content, .below-content {
      max-width: 340px; } }
  @media (min-width: 420px) {
    .main-content, .below-content {
      max-width: 500px; } }
  @media (min-width: 560px) {
    .main-content, .below-content {
      max-width: 527px; } }
  @media (min-width: 680px) {
    .main-content, .below-content {
      max-width: 560px; } }
  @media (min-width: 780px) {
    .main-content, .below-content {
      max-width: 798px; } }
  @media (min-width: 1000px) {
    .main-content, .below-content {
      max-width: 1090px; } }

p {
  font-family: "Lato", sans-serif;
  font-size: 14px;
  font-size: 1.4rem;
  margin: 0; }

li {
  list-style: none; }

a {
  text-decoration: none;
  font-family: "Raleway", sans-serif; }

h2, h1 {
  font-size: 30px;
  font-size: 3rem;
  font-family: "Raleway", sans-serif;
  text-transform: uppercase;
  margin-bottom: 10px;
  margin-top: 0;
  text-align: center; }

h3 {
  font-size: 25px;
  font-size: 2.5rem;
  font-family: "Raleway", sans-serif; }

h4 {
  font-size: 16px;
  font-size: 1.6rem;
  font-family: "Raleway", sans-serif;
  color: #fff; }
  @media (min-width: 560px) {
    h4 {
      font-size: 23px;
      font-size: 2.3rem; } }
  @media (min-width: 1200px) {
    h4 {
      font-size: 18px;
      font-size: 1.8rem; } }

.submitted {
  display: none; }

.comment-add a {
  display: none; }

.content-title {
  text-align: center; }
  .content-title span {
    font-size: 17px;
    font-size: 1.7rem;
    color: #74686B;
    font-family: "Lato", sans-serif; }
  .content-title p {
    margin: 10px 0; }

#first-time {
  display: none; }

.field-content img {
  margin: 0 !important; }

/* ==|====================
   Partials/Componentes/Navigation

   -------INDEX--------
   #Menu
   #menu movil
   ======================= */
/* #Menu
   ========================================================================== */
.menu {
  display: none;
  padding: 20px 0;
  text-align: left; }
  @media (min-width: 1000px) {
    .menu {
      text-align: center !important;
      display: block; } }
  .menu li {
    padding: 10px 0; }
    @media (min-width: 1000px) {
      .menu li {
        display: inline-block;
        vertical-align: top;
        padding: 10px 0;
        margin: 0 !important; } }
  .menu .leaf {
    list-style-image: none !important;
    list-style-type: none !important; }
  .menu a {
    font-size: 14px;
    font-size: 1.4rem;
    margin-left: 20px;
    color: #74686B;
    text-transform: uppercase;
    list-style: none; }

.site-name {
  display: none; }

.expanded {
  position: relative; }
  .expanded .menu {
    border-left: 1px solid #DA5029;
    margin-left: 23px; }
    @media (min-width: 1000px) {
      .expanded .menu {
        display: none;
        padding: 20px 40px;
        background-color: #141414;
        position: absolute;
        text-align: left !important;
        z-index: 3; } }
    .expanded .menu a {
      color: #74686B;
      margin-bottom: 2px; }
      @media (min-width: 1000px) {
        .expanded .menu a {
          color: #fff;
          margin: 0; }
          .expanded .menu a:hover {
            color: #DA5029; } }
    .expanded .menu li {
      text-align: left; }
      @media (min-width: 1000px) {
        .expanded .menu li {
          display: inline-block; } }

@media (min-width: 1000px) {
  .navBlock {
    display: block !important; }
  .navNone {
    display: none; } }

@media (max-width: 1000px) {
  .displayblock {
    display: block; } }

/* #Menu movil
   ========================================================================== */
.btn-menu {
  font-size: 100px;
  font-size: 10rem;
  display: inline-block;
  position: absolute;
  float: right;
  right: 20px;
  top: 49px;
  width: 50px;
  padding: 5px 10px;
  margin: 0;
  border: 1px solid #ddd;
  background: transparent;
  border-radius: 4px; }
  @media (min-width: 1000px) {
    .btn-menu {
      display: none; } }

.icon-bar {
  display: block;
  width: 100%;
  border: 2px solid #888;
  border-radius: 1px;
  margin: 6px 0; }

/* ==|====================
   Partials/Modules/Navigation

   -------INDEX--------
   #header-content
   ======================= */
/* #Header
   ========================================================================== */
.header {
  max-width: 798px;
  margin: 0 auto; }
  @media (min-width: 319px) {
    .header {
      max-width: 340px; } }
  @media (min-width: 420px) {
    .header {
      max-width: 500px; } }
  @media (min-width: 560px) {
    .header {
      max-width: 527px; } }
  @media (min-width: 680px) {
    .header {
      max-width: 560px; } }
  @media (min-width: 780px) {
    .header {
      max-width: 798px; } }
  @media (min-width: 1000px) {
    .header {
      max-width: 1090px; } }

.header-content {
  width: 100%;
  text-align: center; }
  .header-content img {
    width: 50%;
    margin: 10px 0; }
    @media (min-width: 560px) {
      .header-content img {
        width: 40%;
        margin: 10px 0 10px 33px; } }
    @media (min-width: 1025px) {
      .header-content img {
        width: 35%;
        margin: 10px 0 10px 33px; } }
  .header-content h1 {
    display: none; }

.block-system {
  border-top: 1px solid #cecece;
  border-bottom: 1px solid #cecece;
  position: relative;
  text-align: center !important; }
  .block-system h2 {
    display: none; }

/* ==|====================
   Partials/Componentes/categories

   -------INDEX--------
   #Container of categories
   #Title
   #Content text
   ======================= */
/* #Container of categories
   ========================================================================== */
.main {
  padding: 70px 0;
  text-align: center; }
  @media (min-width: 560px) {
    .main {
      text-align: left; } }

.views-row {
  width: 70%;
  display: inline-block;
  height: 307px;
  vertical-align: top;
  text-align: center;
  position: relative;
  margin-right: 0;
  margin-top: 20px;
  box-shadow: 0 0 4px #000; }
  .views-row h2 {
    position: absolute;
    background-color: #48AAA7;
    bottom: -10px;
    width: 100%;
    padding: 6px; }
    .views-row h2 a {
      font-size: 18px;
      font-size: 1.8rem;
      text-align: left;
      color: #fff; }
    .views-row h2:before {
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 0 21.5px 26px 21.5px;
      border-color: transparent transparent #DA5029 transparent;
      position: absolute;
      top: -20px;
      left: 20px; }
  @media (min-width: 560px) {
    .views-row {
      width: 40%;
      margin-right: 31px; }
      .views-row:nth-child(2n+2) {
        margin-right: 0; } }
  @media (min-width: 1000px) {
    .views-row {
      width: 25%;
      margin-right: 50px; }
      .views-row:nth-child(2n+2) {
        margin-right: 50px; }
      .views-row:nth-child(1n+9) {
        margin-right: 0px; } }
  @media (min-width: 1120px) {
    .views-row {
      width: 25%;
      margin-right: 85px; }
      .views-row:nth-child(2n+2) {
        margin-right: 85px; }
      .views-row:nth-child(1n+9) {
        margin-right: 85px; } }
  @media (min-width: 1210px) {
    .views-row {
      width: 21%;
      margin-right: 30px; }
      .views-row:nth-child(2n+2) {
        margin-right: 30px; }
      .views-row:nth-child(1n+9) {
        margin-right: 30px; }
      .views-row:nth-child(4n+4) {
        margin-right: 0; } }

.field-name-field-img-category img {
  width: 100%;
  height: 260px; }

/* #Title
   ========================================================================== */
.block-views {
  color: #DA5029; }

/* ==|====================
   Partials/Modules/product-home

   -------INDEX--------
   #Related
   #content related product
   #content product info
   ======================= */
/* #related
   ========================================================================== */
.related {
  margin-top: 70px;
  background-color: #f4f4f4;
  width: 100%;
  padding: 70px 0; }

.product-title {
  color: #fff;
  text-align: center; }

/* #content product info
   ==========================================================================
   *these styles aplly in list.html
   */
.views-field {
  position: relative;
  text-align: center;
  width: 100%; }
  .views-field .field-content {
    font-size: 16px;
    font-size: 1.6rem;
    font-family: "Lato", sans-serif;
    color: #fff; }
    @media (min-width: 560px) {
      .views-field .field-content {
        font-size: 23px;
        font-size: 2.3rem; } }
    @media (min-width: 1200px) {
      .views-field .field-content {
        font-size: 16px;
        font-size: 1.6rem; } }
    .views-field .field-content a {
      font-size: 20px;
      font-size: 2rem;
      font-family: "Lato", sans-serif;
      color: #fff; }
      @media (min-width: 560px) {
        .views-field .field-content a {
          font-size: 23px;
          font-size: 2.3rem; } }
      @media (min-width: 1200px) {
        .views-field .field-content a {
          font-size: 16px;
          font-size: 1.6rem; } }

.view-productos-recientes {
  width: 100%;
  text-align: center; }
  @media (min-width: 1200px) {
    .view-productos-recientes {
      text-align: left; } }
  .view-productos-recientes .views-row {
    display: inline-block;
    width: 80%;
    height: 217px;
    vertical-align: top;
    margin-top: 20px;
    margin-right: 0;
    background-color: #DA5029;
    box-shadow: 0 0 4px #000; }
    .view-productos-recientes .views-row img {
      width: 46%;
      height: 217px;
      float: left; }
    @media (min-width: 560px) {
      .view-productos-recientes .views-row {
        width: 55%;
        margin-right: 0; } }
    @media (min-width: 1000px) {
      .view-productos-recientes .views-row {
        width: 37%;
        margin-right: 44px; }
        .view-productos-recientes .views-row:nth-child(2n+2) {
          margin-right: 0; } }
    @media (min-width: 1200px) {
      .view-productos-recientes .views-row {
        width: 30%;
        margin-right: 60px; }
        .view-productos-recientes .views-row:nth-child(2n+2) {
          margin-right: 26px; }
        .view-productos-recientes .views-row:nth-child(3n+1) {
          margin-right: 26px; }
        .view-productos-recientes .views-row:nth-child(1n+3) {
          margin-right: 0px; } }

/* ==|====================
   Partials/Modules/product-home

   -------INDEX--------
   #Related
   #content related product
   ======================= */
/* #related
   ========================================================================== */
.block-views {
  padding: 70px 0;
  width: 100%; }

.btn-product {
  background-color: #DA5029;
  color: #fff;
  margin: 30px auto;
  padding: 10px;
  display: block;
  width: 100px;
  font-size: 15px;
  text-align: center; }

.return {
  display: none; }

.title {
  color: #DA5029; }

.product-title a {
  color: #fff; }

/* #content product
   ========================================================================== */
.node-producto {
  display: inline-block;
  width: 80%;
  height: 217px;
  vertical-align: top;
  margin-top: 20px;
  margin-right: 0;
  background-color: #DA5029;
  box-shadow: 0 0 4px #000; }
  .node-producto .flexslider {
    border: 0; }
    .node-producto .flexslider img {
      width: 100%;
      height: 217px;
      float: left; }
  .node-producto .field-items {
    font-size: 16px;
    font-size: 1.6rem;
    color: #fff;
    text-align: center; }
  @media (min-width: 560px) {
    .node-producto {
      width: 55%;
      margin-right: 0; } }
  @media (min-width: 1000px) {
    .node-producto {
      width: 37%;
      margin-right: 44px; }
      .node-producto:nth-child(2n+2) {
        margin-right: 0; } }
  @media (min-width: 1200px) {
    .node-producto {
      width: 30%;
      margin-right: 50px; }
      .node-producto:nth-child(2n+2) {
        margin-right: 50px; }
      .node-producto:nth-child(3n+1) {
        margin-right: 0; } }

/* ==|====================
   Partials/Modules/description

   -------INDEX--------
   #Container of description
   ======================= */
/* #Container of description
   ========================================================================== */
.description {
  padding: 70px 0; }
  .description p {
    margin-bottom: 10px; }

.view-mode-full {
  width: 100%; }

.ds-2col-stacked-fluid > .group-left {
  width: 40.821174%;
  height: 450px; }

.juicebox-container {
  height: 450px; }

.jcbx-glry-classic {
  height: 450px !important; }

.jb-dt-main-image {
  top: 20px !important;
  width: 250px !important;
  height: 300px !important; }
  .jb-dt-main-image img {
    height: 100% !important;
    width: 100% !important; }

.jb-panel-index {
  top: 350px !important;
  left: 20px !important; }

.group-right {
  font-size: 14px;
  font-size: 1.4rem;
  font-family: "Lato", sans-serif; }
  .group-right .field-item {
    font-size: 18px;
    font-size: 1.8rem;
    margin-top: 15px; }

.form-item-vote span {
  display: none; }

.form-item-vote .description {
  padding: 0;
  margin: 0; }

.group-footer {
  font-size: "Lato", sans-serif;
  font-size: 14px;
  font-size: 1.4rem;
  padding-top: 40px; }
  .group-footer .field-name-field-video {
    margin-top: 40px; }
  .group-footer .player iframe {
    width: 100%; }

.comment {
  border-bottom: 1px solid #74686B;
  padding: 30px; }
  .comment .group-left {
    width: 20% !important; }
  .comment h3 {
    margin: 10px 0; }
  .comment a {
    color: #48AAA7;
    text-decoration: underline; }
  .comment p {
    font-size: 18px;
    font-size: 1.8rem; }

.below-content {
  clear: both;
  display: block;
  margin-top: 2260px; }

.comment-wrapper {
  padding: 70px; }
  .comment-wrapper h2 {
    font-size: 25px;
    font-size: 2.5rem;
    color: #DA5029; }
  .comment-wrapper label {
    font-size: 18px;
    font-size: 1.8rem;
    font-family: "Lato", sans-serif; }
  .comment-wrapper .filter-wrapper {
    display: none; }
  .comment-wrapper textarea {
    height: 250px;
    border: 2px solid #74686B; }
  .comment-wrapper input {
    border: 2px solid #74686B; }
  .comment-wrapper .form-submit {
    font-size: 1.4rem;
    font-family: "Raleway", sans-serif;
    padding: 12px 30px;
    background-color: #48AAA7;
    color: #fff;
    border: 0;
    margin: 12px 0; }
  .comment-wrapper input[value="Preview"] {
    display: none; }
  .comment-wrapper .comment-form {
    margin-top: 40px; }

/* ==|====================
   Partials/Componentes/Footer

   -------INDEX--------
   #Container of Footer
   ======================= */
/* #Container of Footer
   ========================================================================== */
.footer {
  background-color: #141414;
  width: 100%;
  padding: 23px 0; }
  .footer .block-system {
    border: 0; }

/*# sourceMappingURL=style.css.map */