/* ==|====================
   Partials/Componentes/Navigation

   -------INDEX--------
   #Menu
   ======================= */

/* #Menu
   ========================================================================== */
.menu{
  padding: 20px 0;
  text-align: center!important;

  li{
    display: inline-block;
    vertical-align: top;
  }

	a{
		@include font-size(14);
		margin-left: 20px;
		color: $grey;
    text-transform: uppercase;
	}
}

.site-name{
  display: none;
}

.expanded{
  position: relative;

  .menu{
    display: none;
    background-color: $black;
    position: absolute;

    a{
      color: $white;
    }
  }
}
