/* ==|====================
   Partials/Modules/product-home

   -------INDEX--------
   #Related
   #content related product
   #content product info
   ======================= */

/* #related
   ========================================================================== */
.related{
	margin-top: 70px;
	background-color: #f4f4f4;
	width: 100%;
	padding: 70px 0;
}

.product-title{
	color: $white;
	text-align: center;
}


/* #content product info
   ==========================================================================
   *these styles aplly in list.html
   */
.views-field{
	position: relative;
	text-align: center;
  width: 100%;

	.field-content{
		@include font-size(16);
		font-family: $body;
		color: $white;
		@media(min-width: 560px){
			@include font-size(23);
		}
		@media (min-width: 1200px){
			@include font-size(16);
		}
    a{
      @include font-size(20);
      font-family: $body;
      color: $white;
      @media(min-width: 560px){
        @include font-size(23);
      }
      @media (min-width: 1200px){
        @include font-size(16);
    }
    }
	}
}

.view-productos-recientes{
  width: 100%;
  text-align: center;
  @media(min-width: 1200px) {
    text-align: left;
  }

  .views-row{
    display: inline-block;
    width: 80%;
    height: 217px;
    vertical-align: top;
    margin-top: 20px;
    margin-right: 0;
    background-color: $red;
    box-shadow: 0 0 4px #000;

    img{
      width: 46%;
      height: 217px;
      float: left;
    }

    @media(min-width: 560px){
      width: 55%;
      margin-right: 0;
    }
    @media (min-width: 1000px){
      width: 37%;
      margin-right: 44px;
      &:nth-child(2n+2){
        margin-right: 0;
      }
    }

    @media(min-width: 1200px){
      width: 30%;
      margin-right: 60px;
      &:nth-child(2n+2){
        margin-right: 26px;
      }
      &:nth-child(3n+1){
        margin-right: 26px;
      }
      &:nth-child(1n+3){
        margin-right: 0px;
      }
    }
  }
}

